name: CI

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1
      with:
        lfs: true

    - name: Install uv
      uses: astral-sh/setup-uv@v7.1.6
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: Set up Python
      run: uv python install

    - name: Install dependencies
      run: |
        uv sync --extra ci

    - name: Lint with ruff
      run: |
        uv run ruff check memgraph/

    - name: Type check with mypy
      run: |
        uv run mypy memgraph/

    - name: Install pnpm
      uses: pnpm/action-setup@v4.2.0

    - name: Set up Node.js
      uses: actions/setup-node@v6.1.0
      with:
        node-version: '24'
        cache: 'pnpm'

    - name: Upload dockerfile artifact
      uses: actions/upload-artifact@v6
      with:
        name: dockerfile
        path: Dockerfile
        retention-days: 7

    - name: Upload docker context artifact
      uses: actions/upload-artifact@v6
      with:
        name: docker-context
        path: .
        retention-days: 7

    - name: Build web bundle
      run: |
        pnpm install
        pnpm run build:web

    - name: Install Playwright browsers
      run: |
        # uv run playwright install --with-deps chromium

    - name: Run tests
      run: |
        # uv run pytest

    - name: Test dev utilities
      run: |
        uv run dev_utils.py --help

    - name: Build package
      run: |
        uv build

    - name: Upload web artifact
      uses: actions/upload-artifact@v6
      with:
        name: web
        path: memgraph/web
        retention-days: 7

    - name: Upload python artifact
      uses: actions/upload-artifact@v6
      with:
        name: python-package-distributions
        path: dist/
        retention-days: 7

