name: build

on:
    pull_request:

permissions:
    contents: read
    packages: write

jobs:
  build_docker:
    # Build both architectures in parallel, test on amd64
    uses: ./.github/workflows/docker-build.yml
    secrets: inherit
  label-success:
    needs:
        - build_docker
    if: |
            (github.event.action == 'synchronize' ||
            github.event.action == 'opened') &&
            needs.build_docker.result == 'success'
    runs-on: ubuntu-latest
    steps:
        - name: Label Success
          run: |
            echo "TODO: Label ${{ github.event.pull_request.number }} as BUILD_SUCCESSFUL"

  label-failure:
    needs:
        - build_docker
    if: |
            (github.event.action == 'synchronize' ||
            github.event.action == 'opened') &&
            needs.build_docker.result != 'success'
    runs-on: ubuntu-latest
    steps:
        - name: Label Failure
          run: |
            echo "TODO: Label ${{ github.event.pull_request.number }} as BUILD_FAILED"


