name: build

on:
    push:
        branches: [ main, develop, 'release-*' ]
    pull_request:

permissions:
    contents: read
    packages: write

jobs:
  build_and_test:
    uses: ./.github/workflows/ci.yml
  build_docker:
    needs: build_and_test
    uses: ./.github/workflows/docker-build.yml
  label-success:
    needs:
        - build_and_test
        - build_docker
    if: |
            github.event_name == 'pull_request' &&
            github.event.action == 'synchronize' &&
            needs.build_and_test.result == 'success' &&
            needs.build_docker.result == 'success'
    runs-on: ubuntu-latest
    steps:
        - name: Label Success
          run: |
            echo "TODO: Label ${{ github.event.pull_request.number }} as BUILD_SUCCESSFUL"

  label-failure:
    needs:
        - build_and_test
        - build_docker
    if: |
            github.event_name == 'pull_request' &&
            github.event.action == 'synchronize' &&
            needs.build_and_test.result != 'success' &&
            needs.build_docker.result != 'success'
    runs-on: ubuntu-latest
    steps:
        - name: Label Failure
          run: |
            echo "TODO: Label ${{ github.event.pull_request.number }} as BUILD_FAILED"


